# Server IP address and port
address = 127.0.0.1 5000

# Max connections to server (threads)
max_connextions = 5

# Max recevive size
client_receive_size = 2048

# Set server root path
root_path = '.'

# Set document/s index
document_index = index.html

# List directories if not document index found
directory_listing = False

# Script languages handelers
file_handler = php: ./php/php.exe

# Client connection live
http_connection_live = 'keep-alive'

# Add server name to response headers
server_name = True

# Config server logger
loggers = console, stdout
logger_level = info

# Set client timeout
client_connection_timeout = 10

# Additional server headers
header = my_header_1: header content 1
header = my_header_2: header content 2

# Additional client server headers
client_header = my_header_1: header content 1
client_header = my_header_2: header content 2

# Set cookies
cookie = my_cookie_1: aaaaaaaaaaaa
cookie = my_cookie_2: bbbbbbbbbbbb
cookie = my_cookie_3: cccccccccccc
