address = 127.0.0.1 5000
max_conn = 5
client_receive_size = 2048
root_path = '.'
document_index = index.html
directory_listing = False
file_handler = php: c:/asdfas/fdss
http_connection_live = 'keep-alive'
client_connection_timeout = 10
extra_header = {}
cookies = []
server_name = True
loggers = 'console', 'stdout'
logger_level = 'INFO'